<?xml version="1.0"?>
<config>
    <modules>
        <Clearsale_Mapper>
            <version>1.0.0</version>
        </Clearsale_Mapper>
    </modules>
    <frontend>
        <translate>
            <modules>
                <Clearsale_Mapper>
                    <files>
                        <default>Clearsale_Mapper.csv</default>
                    </files>
                </Clearsale_Mapper>
            </modules>
        </translate>
        <layout>
            <updates>
                <contact>
                    <file>clearsale_mapper.xml</file>
                </contact>
            </updates>
        </layout>
    </frontend>
    <adminhtml>
        <translate>
            <modules>
                <Clearsale_Mapper>
                    <files>
                        <default>Clearsale_Mapper.csv</default>
                    </files>
                </Clearsale_Mapper>
            </modules>
        </translate>
    </adminhtml>
    <global>
        <helpers>
            <clearsalemapper>
                <class>Clearsale_Mapper_Helper</class>
            </clearsalemapper>
        </helpers>
        <models>
            <clearsalemapper>
                <class>Clearsale_Mapper_Model</class>
                <resourceModel>clearsalemapper_mysql4</resourceModel>
            </clearsalemapper>
        </models>
    </global>
</config> 