.conteudo_principal{
  width: calc(80% - var(--espaco)) !important;
  margin: 0 calc(var(--espaco) / 2) !important;
  padding: calc(var(--espaco) / 2) 0 !important;
  float: left !important;
}
#shopping-cart-table tr{
  width: 100% !important;
  padding: var(--espaco) 0 !important;
}
.carrinho_produtos td{
  padding: 0 !important;
  margin: 0 !important;
}
.cart h2{
  font-size: 24px !important;
}
.carrinho_produtos tr td:first-child{
  grid-column:1;
  grid-row: 1 / span 4;
}
.carrinho_produtos tr td:nth-child(2){
  grid-column:2;
  grid-row: 1;
}
.carrinho_produtos tr td:nth-child(3){
  grid-column:2;
  grid-row: 2;
}
.carrinho_produtos tr td:nth-child(4){
  grid-column:3;
  grid-row: 1 / span 2;
}
.carrinho_produtos tr td:nth-child(5){
  grid-column:4;
  grid-row: 1;
}
.carrinho_produtos tr td:nth-child(6){
  grid-column:4;-row: 2;
}
.carrinho_produtos tr{
  display: grid !important;
  grid-template-columns: 25% 25% 25% 25%;
  grid-template-rows: calc(250px / 4) calc(250px / 4) calc(250px / 4) calc(250px / 4);
  align-items: center;
}
.qty-container{
  margin: auto !important;
}
.carrinho_sidebar--direita{
  max-width: calc(20% - var(--espaco)) !important;
  margin: 0 !important;
  padding: 0 calc(var(--espaco) / 2) !important;
  float: right !important;
}
.header-dropdown{
  background-color: var(--cor_principal) !important;
  border-radius: var(--borda) !important;
  box-shadow: var(--sombra);
}
#cart-sidebar .product-image{
  width: calc(50% - var(--espaco)) !important;
  padding: 0 calc(var(--espaco) / 2) !important;
}
#cart-sidebar p a,
#cart-sidebar p,
#cart-sidebar span,
#cart-sidebar strong,
#cart-sidebar .product-details{
  font-size: 12px !important;
}
#cart-sidebar .btn-remove,
#cart-sidebar .btn-edit{
  display: none !important;
}
#cart-sidebar .label,
#cart-sidebar .price,
.header-dropdown span{
  text-align: left !important;
  margin: 0 !important;
  padding: 0 !important;
  width: 100% !important;
}
.header-dropdown{
  min-width: 180px !important;
}
