.conteudo_principal{
  width: calc(70% - var(--espaco)) !important;
  margin: 0 calc(var(--espaco) / 2) !important;
  padding: calc(var(--espaco) / 2) 0 !important;
  float: left !important;
}
#shopping-cart-table tr{
  width: 100% !important;
  padding: var(--espaco) 0 !important;
}
.carrinho_produtos td{
  padding: 0 !important;
  margin: 0 !important;
}
.cart h2{
  font-size: 24px !important;
}
.carrinho_produtos tr td:first-child{
  grid-column:1;
  grid-row: 1 / span 4;
}
.carrinho_produtos tr td:nth-child(2){
  grid-column:2;
  grid-row: 1;
}
.carrinho_produtos tr td:nth-child(3){
  grid-column:2;
  grid-row: 2;
}
.carrinho_produtos tr td:nth-child(4){
  grid-column:3;
  grid-row: 1 / span 2;
}
.carrinho_produtos tr td:nth-child(5){
  grid-column:4;
  grid-row: 1;
}
.carrinho_produtos tr td:nth-child(6){
  grid-column:4;-row: 2;
}
.carrinho_produtos tr{
  display: grid !important;
  grid-template-columns: 25% 25% 25% 25%;
  grid-template-rows: calc(250px / 4) calc(250px / 4) calc(250px / 4) calc(250px / 4);
  align-items: center;
}
.qty-container{
  margin: auto !important;
}
.header-dropdown{
  background-color: var(--cor_principal) !important;
  border-radius: var(--borda) !important;
  box-shadow: var(--sombra);
}
#cart-sidebar .product-image{
  width: calc(50% - var(--espaco)) !important;
  padding: 0 calc(var(--espaco) / 2) !important;
}
#cart-sidebar p a,
#cart-sidebar p,
#cart-sidebar span,
#cart-sidebar strong,
#cart-sidebar .product-details{
  font-size: 12px !important;
}
#cart-sidebar .btn-remove,
#cart-sidebar .btn-edit{
  display: none !important;
}
#cart-sidebar .label,
#cart-sidebar .price,
.header-dropdown span{
  text-align: left !important;
  margin: 0 !important;
  padding: 0 !important;
  width: 100% !important;
}
.header-dropdown{
  min-width: 180px !important;
}
@media (max-width: 1000px){
  .e-motors_sidebar--esquerda{
    display: none;
  }
  .conteudo_principal{
    width: calc(100% - var(--espaco)) !important;
  }
}
@media (min-width: 1000px) {  
  .carrinho_sidebar--direita{
    max-width: calc(30% - var(--espaco)) !important;
    margin: 0 !important;
    padding: 0 calc(var(--espaco) / 2) !important;
    float: right !important;
  }
}
@media (max-width: 900px){
  .carrinho_produtos tr{
    grid-template-columns: 40% 30% 30%;
    grid-template-rows: calc(250px / 3) calc(250px / 3) calc(250px / 3);
  }
  .carrinho_produtos tr td:first-child{
    grid-column: 1;
    grid-row: 1 / span 3;
  }
  .carrinho_produtos tr td:nth-child(2),
  .carrinho_produtos tr td:nth-child(4){
    grid-row: 1;
  }
  .carrinho_produtos tr td:nth-child(3),
  .carrinho_produtos tr td:nth-child(5){
    grid-row: 2;
  }
  .carrinho_produtos tr td:nth-child(6){
    grid-row: 3;
  }
  .carrinho_produtos tr td:nth-child(2),
  .carrinho_produtos tr td:nth-child(3){
    grid-column: 2;
  }
  .carrinho_produtos tr td:nth-child(4),
  .carrinho_produtos tr td:nth-child(5),
  .carrinho_produtos tr td:nth-child(6){
    grid-column: 3;
  }
}
@media (max-width: 770px){
  .carrinho_produtos tr{
    grid-template-columns: 40% 60%;
    grid-template-rows: calc(250px / 5) calc(250px / 5) calc(250px / 5) calc(250px / 5) calc(250px / 5);
  }
  .carrinho_produtos tr td:first-child{
    grid-column: 1;
    grid-row: 1 / span 5;
  }
  .carrinho_produtos tr td:nth-child(2),
  .carrinho_produtos tr td:nth-child(3),
  .carrinho_produtos tr td:nth-child(4),
  .carrinho_produtos tr td:nth-child(5),
  .carrinho_produtos tr td:nth-child(6){
    grid-column: 2;
  }
  .carrinho_produtos tr td:nth-child(2){
    grid-row: 1;
  }
  .carrinho_produtos tr td:nth-child(3){
    grid-row: 2;
  }
  .carrinho_produtos tr td:nth-child(4){
    grid-row: 3;
  }
  .carrinho_produtos tr td:nth-child(5){
    grid-row: 4;
  }
  .carrinho_produtos tr td:nth-child(6){
    grid-row: 5;
  }
}
@media (max-width: 767px){
  .data-table .td-title{
    display: none !important;
  }
  table.data-table td{
    text-align: center !important;
  }
  .cart-table td.a-center.a-center,
  .data-table td.td-qty .qty-container{
    width: auto !important;
  }
  .qty-container .qty{
    float: none !important;
  }
}
@media (max-width: 620px){
  .carrinho_produtos tr{
    grid-template-columns: 25% 25% 30% 20%;
    grid-template-rows: 100px 100px 50px;
    display: none;
  }
  .carrinho_produtos tr td:first-child{
    grid-column: 1 / span 2;
    grid-row: 1 / span 2;
    justify-self: center;
  }
  .carrinho_produtos tr td:nth-child(2),
  .carrinho_produtos tr td:nth-child(3){
    grid-column: 3 / span 2;
  }
  .carrinho_produtos tr td:nth-child(2){
    grid-row: 1;
  }
  .carrinho_produtos tr td:nth-child(3){
    grid-row: 2;
  }
  .carrinho_produtos tr td:nth-child(4){
    grid-column: 1;
    grid-row: 3;
  }
  .carrinho_produtos tr td:nth-child(5){
    grid-column: 2 / span 2;
    grid-row: 3;
  }
  .carrinho_produtos tr td:nth-child(6){
    grid-column: 4;
    grid-row: 3;
  }
  .data-table a.product-image img{
    max-width: 200px !important;
  }
}
