a:hover{
  background-color: rgba(0, 0, 0, 0) !important;
  color: unset !important;
}
.slide-content-container,
.header.header-1.row,
.nossos_modelos{
  max-width: 1400px !important;
}
.row{
  max-width: 100% !important;
}
.slide-img{
  background-color: #000 !important;
}
.home p{
  max-width: calc(480px - var(--espaco) * 2);
  margin: var(--espaco) auto 0 auto;
  text-align: justify;
}
.detalhes-produtos{
  padding: calc(var(--espaco) * 2) 0;
}
.detalhes-produtos,
.detalhes-produtos .conteudo{
  background-color: var(--cor_secundaria) !important;
  text-align: center;
}
.detalhes-produtos h2,
.detalhes-produtos h3{
  color: var(--cor_branco) !important;
  text-align: center !important;
}
.detalhes-produtos .botao_principal{
  float: none;
  width: 280px;
  margin-left: calc(50% - 140px);
}
.detalhes-produtos .conteudo img{
  margin: calc(var(--espaco) * 2) 0;
}
.home .conteudo{
  padding: 0 var(--espaco) !important;
}
.home.page{
  background-image: none !important;
  background-color: rgba(255, 255, 255, 0) !important;
}
.home-informacoes--box1,
.home-informacoes--box2{
  float: left;
  width: calc(50% - var(--espaco) * 2);
  padding: 0 var(--espaco);
}
.home-informacoes--box1{
  background: #fff url("/media/emotors/imgs/rua.png") no-repeat bottom right !important;
  background-size: auto 100% !important;
  min-height: 800px;
}
.home-informacoes--box2{
  background: #fff url("/media/emotors/imgs/vantagens--moto.jpg") no-repeat bottom left !important;
  min-height: 800px;
  background-size: 100% auto !important;
}
.box1_item{
  margin: var(--espaco) 0;
  float: right;
}
.box1_item:first-child img,
.box1_item:nth-child(3) img{
  margin-top: calc(var(--espaco) * 2);
}
.box1_item:nth-child(3) img,
.box1_item:last-child img{
  margin-right: 160px;
}
.box1_item:first-child img{
  margin-right: 20px;
}
.formas-de-pagamento img{
  width: calc(100% - var(--espaco) * 4);
  height: auto;
  padding: calc(var(--espaco) * 4) calc(var(--espaco) * 2);
}
.nossos-produtos--dados{
  padding: var(--espaco) 0 !important;
  margin-top: var(--espaco);
}
.home .products-grid .item{
  margin: calc(var(--espaco) * 2) !important;
}
.formas-de-pagamento{
  display: none;
}
.recado_top p{
  max-width: 100% !important;
  width: 100% !important;
  margin: 0 !important;
  padding: calc(var(--espaco) / 2) 0 !important;
  text-align: center !important;
  font-size: 24px !important;
  color: #fff !important;
}
.recado_top{
  background-color: var(--cor_principal) !important;
  min-height: 56px !important;
}
@media (min-width: 820px){
  .recado_top p{
    max-width: 50% !important;
    width: 50% !important;
    float: left !important;
  }
}
