.product-image img{
  margin: var(--espaco) auto;
  max-width: 100%;
  height: auto;
  box-shadow: var(--sombra);
}
.mousetrap{
  height: 100% !important;
  width: 100% !important;
}
.produto_dados{
  padding: var(--espaco) calc(var(--espaco) * 2) !important;
  margin: 0 !important;
  width: 60%;
  float: left;
}
.add-to-cart .botao_principal--medio{
  float: left;
}
.qty-container,
.qty-container p,
.qty-container input{
  background-color: rgba(255, 255, 255, 0);
  padding: 0;
  margin: 0;
}
.qty-container input{
  text-align: center !important;
  line-height: 24px;
  color: var(--cor_branco--escuro);
  width: 24px !important;
  border: 1px solid var(--cor_branco--escuro);
  border-radius: var(--borda);
}
#qty{
  width: 26px !important;
}
.content-container,
.main-container{
  background-color: rgba(255, 255, 255, 0) !important;
}
.add-to-links{
  width: calc(100% - var(--espaco) * 2) !important;
  margin: var(--espaco) !important;
  padding: var(--espaco) 0 !important;
  border-top: var(--cor_branco) 1px solid;
}
.add-to-links li{
  width: calc(100% / 3 - var(--espaco)) !important;
  margin: 0 calc(var(--espaco) / 2) !important;
  float: left !important;
}
.link_principal.link_principal--icon,
.link_principal.link_principal--icon a{
  margin: 0 !important;
  padding: 0 !important;
  width: 100% !important;
}
.link_principal.link_principal--icon i,
.link_principal.link_principal--icon p{
  float: left;
  margin-right: calc(var(--espaco) / 2);
}
.link_principal.link_principal--icon i{
  font-size: 24px;
  color: var(--cor_principal);
}
#product_tabs_description_tabbed_contents{
  background-color: rgba(255, 255, 255, 0) !important;
  text-align: justify !important;
}
.product-view .title-container,
.title-container{
  margin: 0 !important;
  padding: 0 !important;
}
.title-container h3,
.title-container .slider-nav{
  background-color: rgba(255, 255, 255, 0) !important;
}
.product-view h2{
  text-align: left !important;
}
.product-tabs-container h2.tab-heading,
.product-tabs-container h2.tab-heading a{
  height: auto !important;
  background-color: var(--cor_principal);
}
.product-tabs-container h2.tab-heading:hover{
  background-color: var(--cor_preto);
}
.product-shop h1{
  text-align: left !important;
}
#product_tabs_tags_tabbed,
#product_acc_tags_tabbed{
  display: none !important;
}
@media (min-width: 800px) {
  .produto_foto{
    float: left;
    width: 40%;
  }
}
@media (max-width: 800px) {
  .add-to-links li{
    display: block !important;
    clear: both !important;
    float: none !important;
    margin: 0 !important;
    padding: 0 !important;
    width: auto !important;
  }
}
