@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');
@import url('https://use.fontawesome.com/releases/v5.6.3/css/all.css');
:root{
  --cor_principal: #00CD5B;
  --cor_secundaria: #23212C;
  --cor_preto: #191919;
  --cor_branco: #DFDFDF;
  --cor_branco--claro: #f4f4f4;
  --cor_branco--escuro: #5E5E5E;
  --borda: 8px;
  --espaco: 20px;
  --sombra: 0px 0px 10px rgba(0, 0, 0, 0.25);
}
body{
  background-color: rgba(255, 255, 255, 0);
}
.linha{
  width: 100%;
  height: auto;
  clear: both;
}
.conteudo{
  width: calc(100% - var(--espaco) * 2);
  max-width: calc(1400px - var(--espaco) * 2) !important;
  padding: var(--espaco) !important;
  background-color: #fff !important;
  margin: 0 auto;
}
.col1-layout{
  padding: 0 !important;
  margin: 0 !important;
}
