.mastershop_cieloapi30_numero .input-box
{
	position:relative;
}

.mastershop_cieloapi30_numero .bandeiras
{
	position:absolute;
	display:inline-block;
	top:3px;
	left:1px;
}

.mastershop_cieloapi30_numero .bandeiras input
{
	display:none;
}

.mastershop_cieloapi30_numero .bandeiras label
{
	display:inline-block;
	padding:0;
	margin:0;
}

.mastershop_cieloapi30_numero .com-bandeira
{
	padding-left: 45px;
}