<?xml version="1.0"?>
<config>
    <modules>
        <Clearsale_Fingerprint>
            <version>1.0.0</version>
        </Clearsale_Fingerprint>
    </modules>
    <global>
        <models>
            <clearsale_fingerprint>
                <class>Clearsale_Fingerprint_Model</class>
            </clearsale_fingerprint>
        </models>
        <helpers>
            <clearsale_fingerprint>
                <class>Clearsale_Fingerprint_Helper</class>
            </clearsale_fingerprint>
        </helpers>
        <blocks>
            <clearsale_fingerprint>
                <class>Clearsale_Fingerprint_Block</class>
            </clearsale_fingerprint>
        </blocks>
    </global>
    <adminhtml>
        <translate>
            <modules>
                <Clearsale_Fingerprint>
                    <files>
                        <default>Clearsale_Fingerprint.csv</default>
                    </files>
                </Clearsale_Fingerprint>
            </modules>
        </translate>
    </adminhtml>
    <frontend>
        <layout>
            <updates>
                <clearsale_fingerprint>
                    <file>clearsale/fingerprint.xml</file>
                </clearsale_fingerprint>
            </updates>
        </layout>
    </frontend>
    <default>
        <clearsale_fingerprint_settings>
            <settings>
                <config_google_tag_manager>no</config_google_tag_manager>
            </settings>
        </clearsale_fingerprint_settings>
    </default>
</config>