.top_panel_inner_style_3 .menu_main_nav>li>a>span {
  font-weight: 100 !important;
  font-size: 16px;
}

.top_panel_style_3 .top_panel_middle {
  margin: -20px;
}

.top_panel_fixed .top_panel_wrap .logo_fixed {
  margin-top: 20px;
  width: 140px;
  height: 100%;
}

.top_panel_fixed .top_panel_middle .menu_main_wrap {
  margin-top: 15px;
}

.top_panel_fixed .menu_show .top_panel_middle .search_wrap_fixed {
  margin-top: 15px;
}

.top_panel_wrap .logo_main {
  width: 200px;
  height: 100%;
  margin-top: 16px;
}

.top_panel_style_3 .content_wrap {
  border-bottom-color: #d41a1a !important;
}

.logo_descr {
  color: #6b6767;
  text-align: justify;
}

.scheme_original .footer_wrap_inner.widget_area_inner .post_title a:hover {
  color: #961c1c;
}

#dentario_widget_recent_posts-3.widget_number_2.column-1_3.widget.widget_recent_posts {
  color: #a12828;
}

.widget_area .post_item .post_content {
  color: #941b1b;
}

.post_info_item.post_info_posted {
  color: #3b3b3b;
}

.footer_wrap.widget_area .post_item .post_title {
  color: #a84c4c;
}

.logo img {
  width: 160px;
}

.wpcf7-form-control.wpcf7-text.wpcf7-validates-as-required {
  color: #2b2b2b;
}

.scheme_original .footer_wrap_inner.widget_area_inner .widget_title {
  color: #616161;
}

label {
  color: #575555;
}

.widget_socials .sc_socials.sc_socials_size_tiny .social_icons span {
  color: #9e8541;
}

.scheme_original input[type=submit]:hover {
  background-color: #bfb082;
  color: #ffffff;
}

strong {
  color: #9e8541;
}

.scheme_dark .footer_wrap_inner.widget_area_inner .post_title a:hover {
  color: #595959;
}

.scheme_original .widget_area_inner .post_title a {
  color: #575757;
}

.footer_wrap.widget_area+.copyright_wrap .content_wrap_outer {
  background-color: #1f1f1f !important;
}

.elementor-8 .elementor-element.elementor-element-91e6abe .elementor-post__title a {
  font-weight: 300 !important;
}

.elementor-8 .elementor-element.elementor-element-91e6abe .elementor-post__read-more {
  color: #9e8b41;
}

.elementor-button .elementor-button-text {
  font-size: 13px;
}

.top_panel_wrap .logo {
  margin-top: 17px;
}

.elementor-widget-image .elementor-image img {
  border-radius: 80px;
}