<?xml version="1.0"?>
<config>
    <modules>
        <Clearsale_Profiler>
            <version>1.0.0</version>
        </Clearsale_Profiler>
    </modules>
    <global>
        <helpers>
            <profiler>
                <class>Clearsale_Profiler_Helper</class>
            </profiler>
        </helpers>
        <events>
            <customer_register_success>
                <observers>
                    <clearsale_profiler_customer_register>
                        <class>Clearsale_Profiler_Model_Observer</class>
                        <method>customerRegisterSuccess</method>
                    </clearsale_profiler_customer_register>
                </observers>
            </customer_register_success>
            <checkout_submit_all_after>
                <observers>
                    <clearsale_profiler_customer_checkout_register>
                        <class>Clearsale_Profiler_Model_Observer</class>
                        <method>checkoutSuccess</method>
                    </clearsale_profiler_customer_checkout_register>
                </observers>
            </checkout_submit_all_after>

            <customer_login>
                <observers>
                    <clearsale_profiler_customer_login>
                        <class>Clearsale_Profiler_Model_Observer</class>
                        <method>customerLogin</method>
                    </clearsale_profiler_customer_login>
                </observers>
            </customer_login>
            <customer_logout>
                <observers>
                    <clearsale_profiler_customer_logout>
                        <class>Clearsale_Profiler_Model_Observer</class>
                        <method>customerLogout</method>
                    </clearsale_profiler_customer_logout>
                </observers>
            </customer_logout>

            <customer_save_after>
                <observers>
                    <clearsale_profiler_customer_update>
                        <class>Clearsale_Profiler_Model_Observer</class>
                        <method>customerUpdate</method>
                    </clearsale_profiler_customer_update>
                </observers>
            </customer_save_after>
            <adminhtml_customer_save_after>
                <observers>
                    <clearsale_profiler_customer_update_admin>
                        <class>Clearsale_Profiler_Model_Observer</class>
                        <method>customerUpdate</method>
                    </clearsale_profiler_customer_update_admin>
                </observers>
            </adminhtml_customer_save_after>
            <controller_action_postdispatch_customer_account_forgotpasswordpost>
                <observers>
                    <clearsale_profiler_password_reset>
                        <class>Clearsale_Profiler_Model_Observer</class>
                        <method>passwordReset</method>
                    </clearsale_profiler_password_reset>
                </observers>
            </controller_action_postdispatch_customer_account_forgotpasswordpost>

        </events>
        <models>
            <clearsale_profiler>
                <class>Clearsale_Profiler_Model</class>
                <resourceModel>clearsaleprofiler_mysql4</resourceModel>
            </clearsale_profiler>
        </models>

        <resources>
            <clearsale_profiler_setup>
                <setup>
                    <module>Clearsale_Profiler</module>
                    <class>Mage_Customer_Model_Entity_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </clearsale_profiler_setup>
            <clearsale_profiler_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </clearsale_profiler_write>
            <clearsale_profiler_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </clearsale_profiler_read>
        </resources>

    </global>
    <frontend>
        <translate>
            <modules>
                <Clearsale_Profiler>
                    <files>
                        <default>Clearsale_Profiler.csv</default>
                    </files>
                </Clearsale_Profiler>
            </modules>
        </translate>
    </frontend>
    <adminhtml>
        <translate>
            <modules>
                <Clearsale_Profiler>
                    <files>
                        <default>Clearsale_Profiler.csv</default>
                    </files>
                </Clearsale_Profiler>
            </modules>
        </translate>
    </adminhtml>
    <default>
        <clearsale_setting_profiler>
            <clearsale_settings>
                <clearsale_app_taxvat_name>Taxvat</clearsale_app_taxvat_name>
            </clearsale_settings>
        </clearsale_setting_profiler>
    </default>
</config>