* {
	box-sizing: border-box
}
body {
	font-family: Verdana, sans-serif;
	margin: 0
}
.mySlides {
	display: none
}
img {
	vertical-align: middle;
}
/* Slideshow container */
.slideshow-container {
	width: 100%;
	position: relative;
	margin: auto;
}
/* Next & previous buttons */
.prev,
.next {
	cursor: pointer;
	position: absolute;
	top: 50%;
	width: auto;
	padding: 16px;
	margin-top: -22px;
	color: white;
	font-weight: bold;
	font-size: 18px;
	transition: 0.6s ease;
	border-radius: 0 3px 3px 0;
	user-select: none;
}
/* Position the "next button" to the right */
.next {
	right: 0;
	border-radius: 3px 0 0 3px;
}
/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
	background-color: rgba(0, 0, 0, 0.8);
}
/* The dots/bullets/indicators */
.dot {
	cursor: pointer;
	height: 15px;
	width: 15px;
	margin: 0 2px;
	background-color: #bbb;
	border-radius: 50%;
	display: inline-block;
	transition: background-color 0.6s ease;
}
.active,
.dot:hover {
	background-color: #717171;
}
/* Fading animation */
.fade {
	-webkit-animation-name: fade;
	-webkit-animation-duration: 1.5s;
	animation-name: fade;
	animation-duration: 1.5s;
}
@-webkit-keyframes fade {
	from {
		opacity: .4
	}
	to {
		opacity: 1
	}
}
@keyframes fade {
	from {
		opacity: .4
	}
	to {
		opacity: 1
	}
}
/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
	.prev,
	.next,
	.text {
		font-size: 11px
	}
}
/*New Code*/
.home_slider{
	background: #1e1c29;
	padding: 40px 0 20px 0;
}
.home_slider h2,
.home_slider h3{
	text-align: center;
	color: #fff;
	line-height: 1.5em;
	margin: 0;
	padding: 0 20px;
}
.home_slider h2{
	text-transform: uppercase;
	font-size: 30px;
}
.home_slider h3{
	font-size: 24px;
}
.slideshow-container img{
	width: calc(100% - 40px);
	padding: 0 20px;
}
.bt{
	margin: 10px auto;
	max-width: 280px;
	text-align: center;
}
.bt a,
.bt p{
	text-decoration: none;
}
.bt p{
	padding: 10px 15px;
	background: #00cd5b;
	border-radius: 8px;
	line-height: 1.2em;
	font-size: 18px;
	text-transform: uppercase;
	color: #fff;
}
@media (min-width: 700px){
	.conteudo{
		max-width: 700px;
		margin: 0 auto;
	}
}
