<?xml version="1.0"?>
<config>
    <modules>
        <Clearsale_Total>
            <version>1.0.0</version>
        </Clearsale_Total>
    </modules>
    <global>
        <blocks>
            <clearsale_total>
                <class>Clearsale_Total_Block</class>
            </clearsale_total>
        </blocks>
        <helpers>
            <clearsale_total>
                <class>Clearsale_Total_Helper</class>
            </clearsale_total>
        </helpers>
        <models>
            <clearsale_total>
                <class>Clearsale_Total_Model</class>
                <resourceModel>clearsale_total_resource</resourceModel>
            </clearsale_total>
            <clearsale_total_resource>
                <class>Clearsale_Total_Model_Resource</class>
                <entities>
                    <queue>
                        <table>clearsale_queue</table>
                    </queue>
                    <history>
                        <table>clearsale_history</table>
                    </history>
                </entities>
            </clearsale_total_resource>
        </models>
        <resources>
            <clearsale_total_setup>
                <setup>
                    <module>Clearsale_Total</module>
                </setup>
            </clearsale_total_setup>
        </resources>
        <events>
            <sales_order_place_after>
                <observers>
                    <enqueue_order>
                        <class>Clearsale_Total_Model_Observer</class>
                        <method>enqueueOrder</method>
                    </enqueue_order>
                </observers>
            </sales_order_place_after>
            <clearsale_communication>
                <observers>
                    <history_log>
                        <class>Clearsale_Total_Model_Observer</class>
                        <method>saveCommunicationHistory</method>
                    </history_log>
                </observers>
            </clearsale_communication>
        </events>
    </global>
    <crontab>
        <jobs>
            <clearsale_total_sendorders>
                <run>
                    <model>clearsale_total/cron::processQueue</model>
                </run>
            </clearsale_total_sendorders>
        </jobs>
    </crontab>
    <frontend>
        <routers>
            <clearsale_total>
                <use>standard</use>
                <args>
                    <module>Clearsale_Total</module>
                    <frontName>clearsaletotal</frontName>
                </args>
            </clearsale_total>
        </routers>
    </frontend>
    <adminhtml>
        <events>
            <core_block_abstract_to_html_before>
                <observers>
                    <clearsale_total>
                        <class>clearsale_total/observer</class>
                        <method>beforeBlockToHtml</method>
                    </clearsale_total>
                </observers>
            </core_block_abstract_to_html_before>
        </events>
        <layout>
            <updates>
                <clearsale_total>
                    <file>clearsale_total.xml</file>
                </clearsale_total>
            </updates>
        </layout>
        <translate>
            <modules>
                <Clearsale_Total>
                    <files>
                        <default>Clearsale_Total.csv</default>
                    </files>
                </Clearsale_Total>
            </modules>
        </translate>
    </adminhtml>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <Clearsale_Total before="Mage_Adminhtml">Clearsale_Total</Clearsale_Total>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <default>
        <clearsale_setting_total>
            <clearsale_settings_total>
                <production_api_url><![CDATA[https://api.clearsale.com.br/]]></production_api_url>
                <staging_api_url><![CDATA[https://homologacao.clearsale.com.br/api/]]></staging_api_url>
                <number_orders_queue_process>100</number_orders_queue_process>
                <cron_frequency><![CDATA[* * * * *]]></cron_frequency>
                <review_status_code>processing</review_status_code>
                <order_status_after_approved>clearsale_approved</order_status_after_approved>
                <order_status_after_canceled>clearsale_reproved</order_status_after_canceled>
                <order_status_approved_manually>approved_manually_clearsale</order_status_approved_manually>
            </clearsale_settings_total>
        </clearsale_setting_total>
    </default>
</config>

