.home_slider * {
	box-sizing: border-box
}
.mySlides {
	display: none
}
.home_slider img {
	vertical-align: middle;
}
/* Slideshow container */
.home_slider .slideshow-container {
	width: 100%;
	position: relative;
	margin: auto;
}
/* Next & previous buttons */
.home_slider .prev,
.home_slider .next {
	cursor: pointer;
	position: absolute;
	top: 50%;
	width: auto;
	padding: 16px;
	margin-top: -22px;
	color: white;
	font-weight: bold;
	font-size: 18px;
	transition: 0.6s ease;
	border-radius: 0 3px 3px 0;
	user-select: none;
}
/* Position the "next button" to the right */
.home_slider .next {
	right: 0;
	border-radius: 3px 0 0 3px;
}
/* On hover, add a black background color with a little bit see-through */
.home_slider .prev:hover,
.home_slider .next:hover {
	background-color: rgba(0, 0, 0, 0.8);
}
/* The dots/bullets/indicators */
.home_slider .dot {
	cursor: pointer;
	height: 15px;
	width: 15px;
	margin: 0 2px;
	background-color: #bbb;
	border-radius: 50%;
	display: inline-block;
	transition: background-color 0.6s ease;
}
.home_slider .active,
.home_slider .dot:hover {
	background-color: #717171;
}
/* Fading animation */
.home_slider .fade {
	-webkit-animation-name: fade;
	-webkit-animation-duration: 1.5s;
	animation-name: fade;
	animation-duration: 1.5s;
}
@-webkit-keyframes fade {
.home_slider 	from {
		opacity: .4
	}
.home_slider 	to {
		opacity: 1
	}
}
@keyframes fade {
.home_slider 	from {
		opacity: .4
	}
.home_slider 	to {
		opacity: 1
	}
}
/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
	.prev,
	.next,
	.text {
		font-size: 11px
	}
}
/*New Code*/
.home_slider{
	background-color: #191725 !important;
	padding: calc(var(--espaco) * 2) 0 var(--espaco) 0;
}
.slideshow-container img{
	width: calc(100% - var(--espaco) * 2);
	padding: 0 var(--espaco);
}
.home_slider .botao_principal{
  float: none !important;
  margin: calc(var(--espaco) / 2) auto !important;
	max-width: 280px !important;
}
@media (min-width: 700px){
	.home_slider .conteudo{
		max-width: 700px !important;
		margin: 0 auto;
	}
}
