.footer{
  padding: calc(var(--espaco) * 2) 0 !important;
}
.footer,
.footer .conteudo{
  background-color: var(--cor_preto) !important;
}
.footer_coluna{
  width: calc(100% / 4 - var(--espaco)) !important;
  margin: 0 calc(var(--espaco) / 2) !important;
  float: left;
}
.footer_coluna,
.footer_coluna a,
.footer_coluna h3{
  color: var(--cor_branco) !important;
  text-transform: uppercase !important;
  line-height: 1.8em !important;
}
.copyright{
  background-color: var(--cor_preto)  !important;
}
.copyright p{
  text-align: center !important;
  margin: 0 auto !important;
  padding: var(--espaco) !important;
  color: var(--cor_branco);
}
@media (max-width: 980px){
  .footer_coluna{
    width: calc(100% / 2 - var(--espaco)) !important;
  }
}
@media (max-width: 580px) {
  .footer_coluna{
    float: none;
    width: calc(100% - var(--espaco)) !important;
    border-top: 1px solid var(--cor_principal);
    padding: var(--espaco) 0;
  }
  .footer_coluna:last-child{
    border: none;
    padding: 0;
  }
  .footer_coluna .botao_principal--medio{
    float: none;
  }
}
