.cabecalho{
  z-index: 999;
  background: #000 url("/media/emotors/imgs/bg-um.jpg") no-repeat top left;
}
.cabecalho_logo{
  width: 200px;
  max-width: 200px;
}
.cabecalho_logo,
.cabecalho_logo img{
  max-height: 100px;
  padding: 0;
  margin: var(--espaco);
}
.top-links-container,
.top-links-container a{
  color: var(--cor_branco) !important;
  font-size: 14px !important;
  line-height: 2em !important;
}
.top-links-container{
  color: var(--cor_principal) !important;
}
.menu_principal--item{
  color: var(--cor_branco) !important;
  font-size: 18px !important;
  line-height: 2em !important;
  margin-right: 20px !important;
  font-weight: 700 !important;
}
.menu_principal--item:hover{
  color: var(--cor_principal) !important;
}

.home .cabecalho,
.customer-account-login .cabecalho,
.customer-account-create .cabecalho,
.customer-account-forgotpassword .cabecalho{
  position: absolute !important;
  top: 0;
  width: 100%;
}
.home .header-container,
.customer-account-login .header-container,
.customer-account-create .header-container,
.customer-account-forgotpassword .header-container{
  background-color: rgba(255, 255, 255, 0) !important;
  background-image: none !important;
}
.top-links-container_mobile .links li{
  float: none;
  display: block;
  margin-bottom: calc(var(--espaco) / 2);
}
.top-links-container_mobile .links li:last-child{
  margin-bottom: 0;
}
.top-links-container_mobile .links li a{
  line-height: 1.2em;
  font-size: 18px;
}
.top-links-container_mobile .links{
  padding: var(--espaco);
  margin: var(--espaco);
  background-color: var(--cor_principal);
  border-radius: var(--borda);
  box-shadow: var(--sombra);
  position: fixed;
  top: 40px;
  right: 0;
}
.top-links-container_mobile--x,
.top-links-container_mobile .links{
  display: none;
}
.header-switch{
  z-index: 0;
}
@media (max-width: 620px){
  .top-links-container,
  .menu_carrinho--botao-texto{
    display: none;
  }
  .top-links-container_mobile i{
    color: var(--cor_principal);
    font-size: 30px;
    text-align: right;
    margin: var(--espaco);
    float: right;
  }
  .menu_principal{
    clear: both;
  }
  .header .top-links ul{
    display: none
  }
  .cabecalho_logo{
    position: absolute;
    top: 20px;
    left: 0;
    margin: 0;
  }
  .cabecalho_logo img{
    margin: 10px 20px;
  }
  .menu_principal--items{
    float: right !important;
  }
  .botao_principal--medio{
    clear: both;
  }
  .menu_carrinho--icone{
    margin-right: 10px;
  }
}
@media (min-width: 620px){
  .top-links-container_mobile,
  .menu_carrinho--icone{
    display: none;
  }
}
@media (min-width: 480px){
  .quebra{
    display: none;
  }
}
