
.products-grid{
  width: calc(100% - var(--espaco) * 2) !important;
  padding: var(--espaco) !important;
}
.products-grid li{
  padding: 0 calc(var(--espaco) * 2) !important;
}
.nossos-produtos .products-grid li{
  width: calc(calc(100% / 3) - var(--espaco) * 4) !important;
}
.product-image,
.product-image img{
  width: 100% !important;
  height: auto !important;
}
.nossos-produtos .products-grid .product-description--short,
.nossos-produtos .products-grid .product-valor{
  display: none;
}
.products-grid h3,
.product-name,
.product-name a{
  text-align: center !important;
  width: 100%;
}
.products-grid .link_principal{
  line-height: 48px !important;
}
.todos_produtos .products-grid li{
  width: calc(calc(100% / 4) - var(--espaco) * 4.01) !important;
}
.todos_produtos,
.todos_produtos .conteudo{
  padding: calc(var(--espaco) * 2) 0;
  background-color: var(--cor_branco) !important;
}
.todos_produtos .link_principal{
  display: none
}
.products-grid h3{
  margin-top: var(--espaco);
}
@media (max-width: 800px) {
  .nossos-produtos .products-grid li{
    width: calc(calc(100% / 1) - var(--espaco) * 4) !important;
  }
  .products-grid .item .botao_principal--medio,
  .products-grid .item .botao_principal--medio .link_principal{
    margin: 0 !important;
  }
  .home .products-grid .item .link_principal{
    margin: 0 !important;
    float: none !important;
    text-align: center !important;
  }
  .home .products-grid .item .link_principal button{
    font-size: 12px !important;
  }
}
